.meme_img{
    height:450px;
    padding: 10px;
    max-width: 600px;
    
}

.generate_meme_div{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow:hidden !important ;
    height: 100%;
   
}
.generate_meme_div_header{
    width: 100%;
    margin-top: 10px;
}

.meme_box{
    /* margin-top: 10px; */
    flex-direction: column-reverse;
    margin-bottom: 4%;
}
.meme_box>p{
    color: #edf4fb;

}
.generate_meme_div::before{
content: "";
position: absolute;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
background: url('../login-components/background-img.jpg');
background-repeat: no-repeat;
background-size: cover;
z-index: -1;
}
.generate_meme_div>p{
    color: #edf4fb;
}
.generate_meme_btn{
 margin-top: 0px !important;
 text-transform: inherit !important;
}
p{
    font-size: 22px;

}
.go_back_btn{
    margin-top: 10px !important;
    text-transform: inherit !important;
    margin-right: auto !important;
    margin-left: 10% !important;
}

.input_conatiner{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
   
}
.input_conatiner>input{
  padding: 10px;
  margin-right: 6px;
 }

 @media screen and (max-width: 600px) {
.input_conatiner{
    flex-direction: column;
} 
.input_conatiner>input{
    margin-bottom: 10px;
}
}

@media screen and (max-width: 500px) {
    .generate_meme_div_header{
        position: fixed;
        top: 0px;
    }
    .meme_box{
        margin-top: 75%;
    }
    .meme_box>p{
        font-size: 16px;
        margin-top: 0px;
        padding-bottom: 10px;
    }
}
