.meme_card{
    display: flex;
    flex-direction: column;
    max-width: 550px;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    margin-left: 20px;
    border: 1px solid lightgray;
    padding: 12px;
    margin-bottom: 10px;
    transition: 100ms ease-in-out;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #edf4fb;
}
.meme_card:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.meme_card>button{
    margin-top: 10px;
    padding: 6px;
    cursor: pointer;
    text-transform: inherit !important;
}

.meme_card>img{
    height: 300px;
    max-width: 300px;
    object-fit: contain;
}

.buttons_d{
    display: flex;
    margin-top:10px;
}
.buttons_d>button{
    margin-right:8px;
    font-size: 10px;
}

@media screen and (max-width: 600px) {
.meme_card>img{
    height: 245px;
    max-width: 250px;
}
}