.meme-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #EAE7DC; */
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    height: 100vh;
    
}
.meme-container-header-h{
    flex: 0.6;
    text-align: start;
}
.meme-container-header-h>h1{
    /* color: #E85A4F; */
    color: #edf4fb;
    font-weight: 300 !important;
  
    font-size: 50px;
    padding-left: 5%;
}
.meme-container-header-b{
    margin: auto;
    flex: 0.4;
}
.meme-container-header-b>button{
    /* width:60%; */
    padding: 6px;
    font-size: 14px;
    text-transform: none;
    cursor: pointer;
    /* margin-bottom: 10px; */
    /* background-color: white;
    color: #8E8D8A; */
    /* background-color: rgb(36, 35, 35) ; */
    background-color: #3f51b5;
    color: #edf4fb ;
    margin-right: 2%;
   
}
.meme-container-header-b>button:hover{
   
    /* color: rgb(36, 35, 35) ;
    background-color: #edf4fb ; */
    color: #3f51b5;
    background-color: #edf4fb ;
}
.logout_btn{
    letter-spacing: 3px !important;
    color: #edf4fb;
    background-color: rgb(249, 99, 99) !important;
}
.logout_btn:hover{
    color: #edf4fb !important;
    background-color: rgb(249, 99, 99) !important;
}
.meme-container-header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

.meme_box{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-image: linear-gradient(to right, #434370, #59539e, #434370);;
}
.prev_btn{
    position: absolute;
    top: 50%;
    left: -90px;
    font-size: 3rem !important;
    color: #edf4fb;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.prev_btn:hover,.next_btn:hover{
    color: gray !important;
    
}
.next_btn{
    position: absolute;
    top: 50%;
    right: -90px;
    font-size: 3rem !important;
    color: #edf4fb;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.meme_box>img{
    height: 450px;
    padding: 10px;
    max-width: 600px;
}
.save_btn_grp{
    display: flex;
    margin-top: 15px;
    margin-bottom: 50px;
  
}
.save_btn_grp>button{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 12px;
    cursor: pointer;
    text-transform: inherit  !important;
    color: #edf4fb;
    background-color: #3f51b5;
    /* background-color: rgb(36, 35, 35) ;
    color: #edf4fb ; */
}
.save_btn_grp>button:hover{
    color: #3f51b5;
    background-color: #edf4fb !important;
    /* background-color: #edf4fb;
    color:  rgb(36, 35, 35); */
}

@media screen and (max-width: 600px) {
    .next_btn{
        right: -40px;
    }
    .prev_btn{
        left: -40px;
    }
    .meme_box>img{
        max-width: 400px;
    }
}
.app_loading{
    display:grid;
place-items:center;
height:100vh;
width:100%;
}
.app_loading_container{
    text-align:center;
padding-bottom:100px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
