
.meme-generated-box{
    margin-bottom: 0 !important;
}

.meme-generated-save-btn-grp{
    margin-top: 0 !important;
}

.copy_url_btn,.checkout_url{
    color: white !important;
    background-color: #8C3B3B !important;
}